# Project information
site_name: InspeKtor
site_url: https://github.com/tabilzad/inspektor
site_author: tabilzad
site_description: >-
  OpenAPI (Swagger) specification generator for Ktor.
  Generate complete API documentation from your Kotlin code at build time.

# Repository
repo_name: tabilzad/inspektor
repo_url: https://github.com/tabilzad/inspektor
edit_uri: edit/master/docs/

# Copyright
copyright: Copyright &copy; 2024 tabilzad

# Configuration
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.png
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    scheme: slate
    primary: indigo
    accent: purple
  font:
    text: Inter
    code: JetBrains Mono
  language: en

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: tabilzad
      repo: inspektor
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Getting Started:
      - getting-started/index.md
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quick-start.md
      - Sample Project: getting-started/sample-project.md
  - Configuration:
      - configuration/index.md
      - Documentation Options: configuration/documentation-options.md
      - Plugin Options: configuration/plugin-options.md
      - Security Schemes: configuration/security-schemes.md
      - Type Overrides: configuration/type-overrides.md
  - Usage Guide:
      - usage/index.md
      - Defining Endpoints: usage/endpoints.md
      - Request Bodies: usage/request-bodies.md
      - Response Schemas: usage/responses.md
      - Descriptions & Documentation: usage/descriptions.md
      - Tags & Organization: usage/tags.md
      - Path & Query Parameters: usage/parameters.md
  - Advanced:
      - advanced/index.md
      - Polymorphic Types: advanced/polymorphic-types.md
      - Generic Types: advanced/generic-types.md
      - Ktor Resources: advanced/ktor-resources.md
      - Incremental Compilation: advanced/incremental-compilation.md
  - API Reference:
      - api/index.md
      - Annotations: api/annotations.md
      - DSL Functions: api/dsl-functions.md
      - Gradle DSL: api/gradle-dsl.md
  - About:
      - about/index.md
      - Compatibility: about/compatibility.md
      - Contributing: about/contributing.md
      - License: about/license.md

# Additional configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/tabilzad/inspektor
      name: InspeKtor on GitHub
  generator: false
  status:
    new: Recently added
    deprecated: Deprecated

extra_css:
  - stylesheets/extra.css
